/* :root {
  --box-shadow: 5px 5px 5px 5px rgba(101, 171, 2, 0.5);
  --bg-color: rgb(40, 47, 97);
} */

body {
  background-color: rgb(11, 26, 51);
  color: #ffffff;
}
.container {
  width: 50%;
  height: 50vh;
  background-color: #271f1f;
  padding: 20px;
}

#btn1 {
  font-size: 20px;
  font-family: sans-serif;
  padding: 3px 28px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 5px;
}
#btn2 {
  font-size: 20px;
  font-family: sans-serif;
  padding: 3px 8px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 5px;
}
